@using E_Ticaret.Models
@model Uye

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{

    <div id="mainBody">
        <div class="container">
            <div class="row">
                <!-- Sidebar ================================================== -->
                <div id="sidebar" class="span3">
                    <div class="well well-small"><a id="myCart" href="/Home/ProductSummary"><img src="/themes/images/ico-cart.png" alt="cart">3 Items in your cart  <span class="badge badge-warning pull-right">$155.00</span></a></div>
                    <ul id="sideManu" class="nav nav-tabs nav-stacked">
                        <li class="subMenu open">
                            <a> ELECTRONICS [230]</a>
                            <ul>
                                <li><a class="active" href="~/Home/Products"><i class="icon-chevron-right"></i>Cameras (100) </a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Computers, Tablets & laptop (30)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Mobile Phone (80)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Sound & Vision (15)</a></li>
                            </ul>
                        </li>
                        <li class="subMenu">
                            <a> CLOTHES [840] </a>
                            <ul style="display:none">
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Women's Clothing (45)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Women's Shoes (8)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Women's Hand Bags (5)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Men's Clothings  (45)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Men's Shoes (6)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Kids Shoes (3)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Kids Clothing (5)</a></li>
                            </ul>
                        </li>
                        <li class="subMenu">
                            <a>FOOD AND BEVERAGES [1000]</a>
                            <ul style="display:none">
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Angoves  (35)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Bouchard Aine & Fils (8)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>French Rabbit (5)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Louis Bernard  (45)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box) (8)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Other Liquors & Wine (5)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Garden (3)</a></li>
                                <li><a href="~/Home/Products"><i class="icon-chevron-right"></i>Khao Shong (11)</a></li>
                            </ul>
                        </li>
                        <li><a href="~/Home/Products">HEALTH & BEAUTY [18]</a></li>
                        <li><a href="~/Home/Products">SPORTS & LEISURE [58]</a></li>
                        <li><a href="~/Home/Products">BOOKS & ENTERTAINMENTS [14]</a></li>
                    </ul>
                    <br />
                    <div class="thumbnail">
                        <img src="~/themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera" />
                        <div class="caption">
                            <h5>Panasonic</h5>
                            <h4 style="text-align:center"><a class="btn" href="~/Home/ProductDetails"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div><br />
                    <div class="thumbnail">
                        <img src="~/themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
                        <div class="caption">
                            <h5>Kindle</h5>
                            <h4 style="text-align:center"><a class="btn" href="~/Home/ProductDetails"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a></h4>
                        </div>
                    </div><br />
                    <div class="thumbnail">
                        <img src="~/themes/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
                        <div class="caption">
                            <h5>Payment Methods</h5>
                        </div>
                    </div>
                </div>
                <!-- Sidebar end=============================================== -->
                <div class="span9">
                    <ul class="breadcrumb">
                        <li><a href="~/Home/Index">Home</a> <span class="divider">/</span></li>
                        <li class="active">Üye Kayıt</li>
                    </ul>
                    <h3>H&M.COM'A KAYDOL</h3>
                    <br />
                    <h5>
                        H&M.com sitesine kaydolmak için aşağıdaki formu doldurun.
                        Web sitemizde alışverişinizi kolaylaştırmak için verdiğiniz bilgileri kaydedeceğiz.
                    </h5>
                    <div class="well">
                                    @Html.ValidationSummary(false)

                        <form class="form-horizontal">
                            <h4>Üyelik bilgileriniz</h4>
                            <div class="control-group">
                                <label class="control-label" for="inputFname1">Adınız <sup>*</sup></label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Adi, new { @class = "form-control", placeholder = "" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputLnam">Soyadınız <sup>*</sup></label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Soyadi, new { @class = "form-control", placeholder = "" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="input_email">E-posta <sup>*</sup></label>
                                <div class="controls">
                                    @if (Session == null)
                                    {
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder =             "mail@email.com" })
                                    }
                                    else
                                    {
                                       @Html.TextBoxFor(model => model.Email, new { @Value = Session["mail"] })
                                    }
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword1">Şifre <sup>*</sup></label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Sifre, new { @class = "form-control", placeholder = "Şifre" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword1">Şifre-Tekrar <sup>*</sup></label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.SifreTekrar, new { @class = "form-control", placeholder = "" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword1">Telefon <sup>*</sup></label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.TelefonNo, new { @class = "form-control", placeholder = "" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword1">Cinsiyet <sup>*</sup></label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Cinsiyet, new { @class = "form-control", placeholder = "" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword1">Doğum Tarihi <sup>*</sup></label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.DogumTarihi, new { @class = "form-control", placeholder = "" })
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword1">Adres <sup>*</sup></label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model.Adres, new { @class = "form-control", placeholder = "" })
                                </div>
                            </div>
                            <p><sup>*</sup>Required field	</p>
                            <div class="control-group">
                                <div class="controls">
                                    <input type="hidden" name="email_create" value="1">
                                    <input type="hidden" name="is_new_customer" value="1">
                                    <input class="btn btn-large btn-success" type="submit" value="Register" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MainBody End ============================= -->
}